 * {
     margin: 0px;
     padding: 0px;

 }


 img {
     display: block;
     max-width: 100%;
     height: auto;
     /*     margin: 100px;*/
 }

 font-family: 'Raleway',
 sans-serif;

 /*forside start*/


 grid {
     display: grid;


 }

 p {
     margin: 5px;
 }


 h1 {
     text-align: center;
     font-family: "raleway", bold;
     margin: 3px;
     font-size: 2rem;
 }

 h2 {
     font-family: "raleway", sans-serif;
     text-align: center;
     font-size: 1rem;
     margin: 3px;
 }

 .gridContent {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-gap: 0.5em;
     border: 10px;

 }

 .content {
     grid-gap: 1em;
     background-color: gray;
     border-radius: 2px;
     padding: 7px;



 }




 /*forside slut*/

 /*content*/

 fronterimg img {
     height: 300px;

 }

 /*

 fronterimg1 {
     grid-column-start: 1;
     grid-column-end: 2;
 }

 fronterimg2 {
     grid-column-start: 2;
     grid-column-end: 3;
 }
*/


 @media only screen and (max-width: 600px) {
     .gridContent {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr;
         grid-gap: 0.5em;
         border: 10px;

     }

 }
