 * {
     margin: 0px;
     padding: 0px;

 }

 ul,
 ul li {
     margin: 0;
     padding: 0;
     text-indent: 0;
     list-style-type: none;
     display: inline-block;
 }

 .menu {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;


     /*background: #293752;*/

     font-family: "Raleway";
     color: white;
     font-weight: bold;
     font-size: 2em;

     background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
     padding: 0.4em;
 }

 .menu a {
     color: white;
     text-decoration: none;
 }

 .menu li + li {
     margin-left: 0.5em;
 }

 .menu-button {
     display: none;
 }

 /* Splash start */

 .splash img {
     height: 100vh;
 }

 /* Splash end */


 img {
     display: block;
     width: 100%;
     height: 25em;

     object-fit: cover;
 }

 /*forside start*/


 grid {
     display: grid;


 }

 p {
     margin: 5px;
     font-family: "raleway", sans-serif;
 }




 h1 {
     text-align: center;
     font-family: "raleway", bold;
     margin: 3px;
     font-size: 2rem;
 }

 h2 {
     font-family: "raleway", sans-serif;
     text-align: center;
     font-size: 1rem;
     margin: 3px;
 }

 .gridContent {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-gap: 0.8em;
     border: 10px;

     border: white solid 0.8em;
 }

 .content {
     grid-gap: 1em;
     border-radius: 2px;
     padding: 7px;
 }

 .content button {
     display: block;
     margin: auto;
 }


 /*forside slut*/

 /*content*/





 .fronterimg img {
     object-position: top;
 }

 .Web {
     background-color: #485F8C;
 }


 .Animation {
     background-color: #D8D8D8;
 }

 .Indhold {
     background-color: #D8D8D8;
 }

 .Redesign {
     background-color: #485F8C;
 }

 .tech {
     background-color: #485F8C;
 }

 .app {
     background-color: #D8D8D8;

 }




 /*Knap start*/
 .button {
     display: flex;
     justify-content: center;
     text-decoration: none;
     text-align: center;
     border-radius: 4px;
     background-color: #000000;
     border: none;
     color: #FFFFFF;
     margin: auto;
     font-size: 1.5rem;
     padding: 8px;
     width: 120px;
     cursor: pointer;

 }

 .button span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
 }

 .button span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
 }

 .button:hover span {
     padding-right: 25px;
 }

 .button:hover span:after {
     opacity: 1;
     right: 0;
 }


 /*Knap slut*/



 /*om mig*/

 .content_kontakt {
     display: flex;
     height: 100vh;
     align-items: center;
     justify-content: center;
     background-color: #485F8C;
 }

 .kontakt-boks-wrapper {
     max-width: 55em;
     padding: 10em;
 }

 .kontakt-boks {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 1em;
     padding: 1em;
     border: 0.5em solid white;
 }

 .kontakt-boks img {
     width: 4em;
     object-fit: contain;
     height: auto;
 }

 .kontakt-boks h1 {
     text-align: right;
     font-size: 1em;
 }


 /*Om mig*/


 #imgom img {
     height: 100vh;
 }

 /*Om mig slut*/



 .footer {
     background-color: #485F8C;

 }

 .footer p {
     text-align: center;
     margin: 0;
 }




 @media only screen and (min-width: 750px) {



     .gridContent {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr;
         grid-gap: 0.5em;
         border: 10px;

     }

     .splash {
         background-image: url(img/Splash750.png);

     }

     .menu-button {
         display: block;
     }

     .menu-list {
         display: none;
     }

     .menu-show .menu-list,
     .menu-show li {
         display: block;
         margin: 0;
     }

 }
