 * {
     margin: 0;
     padding: 0;

 }

 \ img {
     width: 100%;
     height: 365px;
 }

 font-family: 'Raleway',
 sans-serif;

 /*forside start*/


 grid {
     display: grid;


 }

 p {
     margin: 1px;
 }


 h1 {
     text-align: center;
     font-family: "raleway", sans-serif;
 }

 .gridContent {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-gap: 0.5em;

 }

 .content {
     grid-gap: 1em;
     background-color: gray;
     border-radius: 2px;


 }




 /*forside slut*/

 /*content*/

 /*

 .Web {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 2;

 }
*/



 .fronterimg {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column: span 2;


 }
